<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/blog/create}">Create new Blog</a>
<!--String id, String title, String content-->
<table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>EDIT</th>
        <th>DETAIL</th>
        <th>DELETE</th>
    </tr>
    <tr th:each="b : ${blogs}" th:object="${b}">
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{content}"></td>
        <td>
            <a th:href="@{/blog/update/(id=*{id})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/blog/detail(id=*{id})}">Detail</a>
        </td>
        <td>
            <a th:href="@{/blog/delete(id=*{id})}">Delete</a>
        </td>

    </tr>

</table>
</body>
</html>